#image-container{
    width: 14rem;
    height: auto;
}

#personal-image{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#description{
    width: 20rem;
    color: white;
}

#name{
    max-width: 25rem;
    font-size: 2rem;
    color: white;
}

#city{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.685);
}

#english{
    max-width: 360px;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.685);
}