.NavLink{
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: white;
}
.NavLink:hover {
    color: #FFD700; /* Un dorado suave */
    text-decoration: underline;
  }