.NavLink{
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: #2C3E50;
}
.NavLink:hover {
    color: #345678; 
    text-decoration: underline;
  }